/*preloader*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*Web page */

/*       navbar        */

#mainNav {
    z-index: 10;
    min-height: 6vh;
}

.b-w {
    width: 13vw;
}


/*         main        */

main {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(118, 130, 133);
}


/*sidebar*/
.sidebar li .submenu{ 
	list-style: none; 
	margin: 0; 
	padding: 0; 
	padding-left: 1rem; 
	padding-right: 1rem;
}
.sidebar .nav-link {
    font-weight: 500;
    color: var(--bs-dark);
}
.sidebar .nav-link:hover {
    color: var(--bs-primary);
}

/*       footer       */ 

/*responsive*/

  /*sm*/
  @media only screen and (max-width:767px) {

    main div[class*='col-lg-3'] {
        height: auto;
        
    }
    
    main div[class*='col-lg-9'] {
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
    }

    main form input {
        width: 300px;
    }

    main form {
        height: 40px;
        margin-top: 5px;
    }

    .sidebar {
        width: 300px;
        padding: 0 !important;
        margin-top: 10px;
    }

}

   /*md*/
  @media only screen and (min-width:768px) and (max-width:991px) {


    main div[class*='col-lg-3'] {
        height: auto;
    }
    
    main div[class*='col-lg-9'] {
        position: relative;
        bottom: 0;
        left: 0;
        right: 0; 
    }

    main form input {
        width: 300px;
    }

    main form {
        height: 40px;
        margin-top: 10px;
    }

    .sidebar {
        width: 300px;
        padding: 0 !important;
    }

    main div[class*='col-lg-3'] div[class*='row'] {
        height: 50%;
    }

   
  }
   /*lg*/
  @media only screen and (min-width:992px) {

    main div[class*='col-lg-3'] {
        height: 100%;
        width: 240px;
        
    }
    
    main div[class*='col-lg-9'] {
        height: 100%;
        width: calc(100% - 240px);
    }


  }